body {
    padding: 50px;
    background: linear-gradient(#74ebd5, #acb6e5);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
   

}

container {
    display: flex;
    justify-content: flex;
}